body {
    font-family:'Segoe UI', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

.cant-read-1 {
    font-family:'Dancing Script';
}

.cant-read-2 {
    font-family:'Vina Sans';
}

.cant-read-3 {
    font-family:'Kaushan Script';
}

#hidden {
    opacity: 0;
}

.fade-in {
	opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
    }
    75% {
		opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1400px) {
    h1 {
        font-size: 36px;
    }
  }

  @media screen and (max-width: 1100px) {
    h1 {
        font-size: 24px;
    }
  }